.categroy-tabs {
    margin: 0 auto;
    background: #fff;
    padding: 1rem;
    overflow-x: auto;
}

.categroy-tabs ul  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.categroy-tabs ul li:nth-child(1) {
    color: black;
    background-color: whitesmoke;
    border-radius: 50px;
    border: 1px solid rgb(175, 175, 175);
    padding: .7rem;
}

.categroy-tabs ul li {
    padding : 0 1rem;
    list-style: none;
    cursor: pointer;
    color: grey;
    font-size: .7rem;
}

.categroy-tabs ul li:hover {
    color: #000;
}

@media screen and (min-width: 40em) {
.categroy-tabs ul li {
   font-size: .8rem;
   padding: 0 1rem;
 }
 .categroy-tabs ul {
   padding: .5rem
 }
}